from random import randint

dix = [chr(0x2680),chr(0x2681),chr(0x2683)]
sept = [chr(0x2680),chr(0x2680),chr(0x2680)]
six = [[chr(0x2680),chr(0x2680),chr(0x2685)],[chr(0x2685),chr(0x2685),chr(0x2685)]]
cinq = [[chr(0x2680),chr(0x2680),chr(0x2684)],[chr(0x2684),chr(0x2684),chr(0x2684)]]
quatre = [[chr(0x2680),chr(0x2680),chr(0x2683)],[chr(0x2683),chr(0x2683),chr(0x2683)]]
trois = [[chr(0x2680),chr(0x2680),chr(0x2682)],[chr(0x2682),chr(0x2682),chr(0x2682)]]
deux = [[chr(0x2680),chr(0x2680),chr(0x2681)],[chr(0x2681),chr(0x2681),chr(0x2681)],[chr(0x2680),chr(0x2681),chr(0x2682)],[chr(0x2681),chr(0x2682),chr(0x2683)],[chr(0x2682),chr(0x2683),chr(0x2684)],[chr(0x2683),chr(0x2684),chr(0x2685)]]

dé = []
for i in range(6):
    dé.append(chr(0x2680+i))

class Joueurs:
    
    def __init__(self,nom):
        assert nom == str(nom), 'Le nom doit être une chaine de caractère'
        self.nom = nom
        self.jetons = 0
        self.dés = ['⚀','⚀','⚀']
    
    def __repr__(self):
        return f" Nom : {self.nom} \n Jetons : {self.jetons} \n Dernier dés : {self.dés[0]} {self.dés[1]} {self.dés[2]}"
    
    def lancerdés(self):
        for i in range(3):
            self.dés[i] = dé[randint(0,5)]
            self.dés.sort()
    
class Jeu:
    
    def __init__(self):
        self.joueurs = []
        self.tour = 0
        self.ordre1 = 0
        self.ordre2 = 0
        self.manche = "charge"
        self.pot = 21
    def __repr__(self):
        return f"{self.joueurs}"
    
    def ajouterjoueur(self,j):
        self.joueurs.append(j)    
    
    def jouer(self):
        
        if len(self.joueurs) == 2:
            if self.pot <= 0:
                self.manche = "décharge"
                
            if self.joueurs[0].jetons == 0 and self.joueurs[1].jetons == 0:
                a = randint(0,21)
                b = randint(0,21)
                while a == b:
                    a = randint(0,21)
                    b = randint(0,21)
                    
                if a < b:
                    self.ordre1 = 0
                    self.ordre2 = 1
                elif a > b:
                    self.ordre1 = 1
                    self.ordre2 = 0
            
            j1 = self.joueurs[self.ordre1]
            j2 = self.joueurs[self.ordre2]
            
            p = 0
   
            j1.lancerdés()
            
            if j1.dés == dix:
                p = 10
            elif j1.dés == sept:
                p = 7
            elif j1.dés == six:
                p = 6
            elif j1.dés == cinq:
                p = 5
            elif j1.dés == quatre:
                p = 4
            elif j1.dés == trois:
                p = 3
            elif j1.dés == deux:
                p = 2
            else:
                p = 1
            
            self.ordre1 = ~self.ordre1
            self.ordre2 = ~self.ordre2
            
            if self.manche == 'charge':
                j1.jetons += p
                self.pot -= p
            else:
                j1.jetons -= p
                j2.jetons += p
                
                self.tour += 1
            
            if self.tour > 1:
                if j1.jetons <= 0:
                    return f"{j1.nom} a gagné"
                elif j2.jetons <= 0:
                    return f"{j2.nom} a gagné"
            
        else:
            return "Pas assez de joueurs"
